<body>
    <header>
        <h1>Login</h1>
    </header>
    <main>
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()" >
            <div class="form_div">
                <label>Username:</label>
                <input class="field1_class" type="text"  placeholder="Username" formControlName="email" > 
               
                               
                <label>Password:</label>
                <input  type="password" class="field1_class"   placeholder="Password" formControlName="password" >
                
                               
                
                <button class="submit_class">Login</button>
            </div>
            <div class="info_div">
                <p style="color: black;">Don't have an account? <a style="color:white;" routerLink="/signup">Sign in</a></p>
            </div>
        </form>
    </main>
  
</body>